on:
  workflow_dispatch:
  schedule:
    # run every 5 days at 00:00 China time (16:00 UTC previous day)
    - cron: '0 16 */5 * *'
  push:
    branches:
      - 'main'
      - 'master'
    paths:
      - '.github/workflows/excavator.yml'
name: Excavator
jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main
      - name: Excavate
        uses: ScoopInstaller/GithubActions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
